<template>
  <div class="form-container">
    <b-card no-body class="mb-3">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.orders>Список заказов</b-button>
      </b-card-header>
      <b-collapse id="orders" accordion="orders" role="tabpanel">
        <b-card-body>
          <b-table striped hover :fields="fields" :items="orders" />
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-card
      title="Время перекусить вкусно и полезно"
      img-src="/images/dark-mood-food-2986532_640.jpg"
      img-alt="Image"
      class="card"
      sub-title="Оформите заказ прямо сейчас"
      img-top
    >
      <b-card-body>
        <validation-observer ref="validator" v-slot="{handleSubmit}">
          <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
            <b-form-group label-for="name" label="Имя">
              <validation-provider v-slot="validationContext" name="name" rules="required">
                <b-form-input v-model="form.name" id="name" type="text"
                              :state="getValidationState(validationContext)" />
                <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
            </b-form-group>
            <b-form-group label-for="phone" label="Телефон"
                          description="Номер телефона должен состоять из 10 цифр, без кода страны">
              <validation-provider v-slot="validationContext" name="phone" rules="required|integer|length:10">
                <b-form-input v-model="form.phone" id="phone" type="text"
                              :state="getValidationState(validationContext)" />
                <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
            </b-form-group>
            <b-form-group label-for="address" label="Адрес доставки">
              <validation-provider v-slot="validationContext" name="address" rules="required">
                <b-form-input v-model="form.address" id="address" type="text"
                              :state="getValidationState(validationContext)" />
                <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Тарифный план" label-for="plan_id">
              <validation-provider v-slot="validationContext" name="plan_id" rules="required">
                <b-form-select placeholder="Тарифный план" v-model="form.planId" id="plan_id" text-field="name"
                               value-field="id" :options="plans" :state="getValidationState(validationContext)" />
                <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
            </b-form-group>
            <b-form-group v-if="form.planId" label="Дата первой доставки" label-for="first_delivery_day">
              <validation-provider v-slot="validationContext" name="first_delivery_day" rules="required">
                <b-form-datepicker :start-weekday="1" v-model="form.firstDeliveryDay" id="first_delivery_day"
                                   placeholder="Дата" :min="minDate" :date-disabled-fn="isDateDisabled"
                                   :state="getValidationState(validationContext)" />
                <b-form-invalid-feedback>{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
            </b-form-group>
            <b-form-group>
              <b-button v-if="!pending" variant="primary" type="submit">
                Оформить заказ
              </b-button>
              <b-spinner v-else />
            </b-form-group>
          </b-form>
        </validation-observer>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment'

moment.locale('ru')

import axios from './axios'

export default {
  data () {
    return {
      plans: [],
      orders: [],
      pending: false,
      form: {
        name: null,
        phone: null,
        planId: null,
        firstDeliveryDay: null,
        address: null
      }
    }
  },
  computed: {
    minDate () {
      return moment().add(1, 'd').format('YYYY-MM-DD')
    },
    fields () {
      return [
        {
          key: 'id',
          label: 'ID'
        },
        {
          key: 'first_delivery_day',
          label: 'Дата первой доставки'
        },
        {
          key: 'plan.data.name',
          label: 'Тарифный план'
        },
        {
          key: 'contact_name',
          label: 'Контактное лицо'
        },
        {
          key: 'client.data.id',
          label: 'ID клиента'
        }
      ]
    }
  },
  created () {
    this.fetchPlans()
    this.fetchOrders()
  },
  watch: {
    'form.planId' () {
      this.form.firstDeliveryDay = null
    }
  },
  methods: {
    isDateDisabled (value) {
      const validationDate = moment(value)
      const availableDays = this.plans.find(({ id }) => this.form.planId === id).days.data.map(({ id }) => id)

      return !availableDays.includes(validationDate.isoWeekday())
    },
    async onSubmit () {
      this.pending = true
      try {
        const { data: { data: order } } = await axios.post('/api/order', {
          name: this.form.name,
          phone: this.form.phone,
          plan_id: this.form.planId,
          first_delivery_day: this.form.firstDeliveryDay,
          address: this.form.address
        })

        this.$bvToast.toast(`Ваш заказ успешно создан. Номер заказа в системе: ${order.id}`, {
          title: 'Успешно!',
          solid: true,
          variant: 'success'
        })
        this.resetForm()
        await this.fetchOrders()
      } catch (e) {
        this.$bvToast.toast(e.response.data.message, {
          title: 'Ошибка!',
          solid: true,
          variant: 'danger'
        })

        this.$refs.validator.setErrors(e.response.data.errors)
      } finally {
        this.pending = false
      }
    },
    getValidationState ({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null
    },
    resetForm () {
      this.$set(this, 'form', {
        name: null,
        phone: null,
        planId: null,
        firstDeliveryDay: null,
        address: null
      })

      this.$nextTick(() => this.$refs.validator.reset())
    },
    async fetchPlans () {
      const { data: { data: plans } } = await axios.get('/api/plan')
      this.$set(this, 'plans', plans)
    },
    async fetchOrders () {
      const { data: { data: orders } } = await axios.get('/api/order')


      this.$set(this, 'orders', orders)
    }
  }
}
</script>

<style>
.form-container {
  height: 100%;
  padding: 60px 0;
  background-color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  max-width: 60%;
}
</style>
